
	<div id="vNuevoChofer" class="ventana">
			<div class="title-ventana green">
				Nuevo chofer
			</div>
			<div class="body-ventana">
				<i ng-click="clouse();" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form role="form" name="formNuevoCliente">

	 
		            <div class="row">
		                
						<div class="col-xs-6">
		                	<div class="form-group label-floating">
								<label class="control-label">Correo electronico</label>
								<input type="email" class="form-control" ng-model="cliente.correo" required>
							</div>
						</div>
					</div>

					<div class="row">
						
						<div class="col-xs-6">
							<div class="form-group label-floating">
								<label class="control-label">Contraseña</label>
								<span class="form-inicate">Debe tener más de 8 digitos</span>
								<input type="password" class="form-control" ng-model="cliente.contrasena" required minlength="8">
							</div>
						</div>
					</div>

					

					<button  ng-click="guardarCliente(1);" class="btn btn-subir-form btn-primary pull-right">Guardar</button>

					<div class="alert alert-success" id="exitoRegistrarClientep">
		                <p>Se ha registrado correctamente el chofer</p>
		            </div> 
		            <div class="alert alert-warning" id="waringRegistrarMza">
		                <p>Este chofer ya esta registrado</p>
		            </div>
		            <div class="alert alert-inverse" id="loadRCliente">
		                <img src="./img/load.gif" alt="cargando">
		            </div> 

				</form>
			</div>
	</div><!-- NUEVO CLIENTE -->

	<div id="vEditCln" class="ventana">
			<div class="title-ventana blue">
				Editar chofer
			</div>
			<div class="body-ventana">
				<i ng-click="clouse();" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form role="form" name="formEditarCliente">
	  
					<div class="row">
						<div class="col-xs-6">
		                	<div class="form-group label-floating">
								<label class="control-label">Correo electronico</label>
								<input type="email" class="form-control" id="upcorreo" required>
							</div>
						</div>	
					</div>

				

					<button ng-disabled="formEditarCliente.$invalid" ng-click="guardarCliente(2);" class="btn btn-subir-form btn-primary pull-right">Guardar</button>


					<div class="alert alert-success" id="exitoActualizarCliente">
		                <p>Se han guardado los cambios con éxito.</p>
		            </div> 
		            <div class="alert alert-warning" id="waringActualizarCliente">
		                <p>Este folio ya esta registrado</p>
		            </div>
		            <div class="alert alert-warning" id="waringActualizarMza">
		                <p>Este chofer ya esta registrado</p>
		            </div>
		            <div class="alert alert-inverse" id="loadACliente">
		                <img src="./img/load.gif" alt="cargando">
		            </div> 

				</form>
			</div>
	</div><!-- EDITAR CLIENTE -->

	<div id="vDeleteCln" class="ventana mini">
			<div class="title-ventana red">
				Eliminar chofer
			</div>
			<div class="body-ventana">
				<i ng-click="clouse();" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form>

	  
					<p>¿Está seguro que desea eliminar este chofer?</p>

					<div class="row">
						<div class="col-xs-6">
							<a ng-click="conformDeleteCliente(1)" md-raised-button class="btn btn-subir-form btn-success pull-right">Si</a>
						</div>
						<div class="col-xs-6">
							<a ng-click="conformDeleteCliente(0)" md-raised-button class="btn btn-subir-form btn-danger pull-right">No</a>
						</div>
					</div>

				</form>
			</div>
			<br>

			<div class="alert alert-success" id="deleteRegistrar">
		        <p>Se ha eliminado correctamente</p>
		    </div>

		    <div class="alert alert-warning" id="deleteWaringRegistrar">
		        <p>Ya ha sido aliminado anteriormente</p>
		    </div>
		    <div class="alert alert-inverse" id="loadDelete">
		        <img src="./img/load.gif" alt="cargando">
		    </div> 
		    
	</div><!-- ELIMINAR CLIENTE -->    
