
	<div id="vNuevoPiezas" class="ventana">
			<div class="title-ventana green">
				Nuevas Piezas  
			</div>
			<div class="body-ventana">
				<i ng-click="clouse()" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form role="form" name="formNuevasPiezas">
		
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group label-floating">
								<label class="control-label">Nombre pieza</label>
								<input type="text" class="form-control" ng-model="pieza.nombre">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Stock</label>
								<input type="text" class="form-control" ng-model="pieza.stock">
							</div>
						</div>
					</div>

					


					<button ng-disabled="formNuevaPieza.$invalid" ng-click="nuevaPieza();" class="btn btn-subir-form btn-primary pull-right">Guardar</button>

					<div class="alert alert-success" id="exitoRegistrarPieza">
		                <p>Se ha registrado correctamente la pieza</p>
		            </div> 
		            <div class="alert alert-warning" id="waringRegistrarPieza">
		                <p>Este folio ya esta registrado </p>
		            </div>
		            <div class="alert alert-inverse" id="loadPieza">
		                <img src="./img/load.gif" alt="cargando">
		            </div> 

				</form>
			</div>
	</div><!-- NUEVO PAGOS -->


	<div id="vEditPieza" class="ventana">
			<div class="title-ventana blue">
				Editar piezas
			</div>
			<div class="body-ventana">
				<i ng-click="clouse()" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form role="form" name="formEditarPiezas">

	  				<div class="row">
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Nombre de la pieza</label>
								<input type="text" class="form-control" id="ursnombre" required >
							</div>
						</div>
						<div class="col-xs-8">
							<div class="form-group label-floating">
								<label class="control-label">Stock</label>
								<input type="text" class="form-control" id="ursstock" required="">
						</div>
					</div>

					
					</div>

					<button ng-disabled="formEditarPiezas.$invalid" ng-click="editarPieza();" class="btn btn-subir-form btn-primary pull-right">Guardar</button>

					<div class="alert alert-success" id="exitoActualizarPieza">
		                <p>Se ha actualizado correctamente la pieza</p>
		            </div> 
		            <div class="alert alert-warning" id="waringEditarPiezas">
		                <p>Este pieza ya esta registrado</p>
		            </div>
		            <div class="alert alert-inverse" id="loadEPiezas">
		                <img src="./img/load.gif" alt="cargando">
		            </div> 

				</form>
			</div>
	</div><!-- EDITAR PAGOS -->

	<div id="vDeletePiezas" class="ventana mini">
			<div class="title-ventana red">
				Eliminar pieza
			</div>
			<div class="body-ventana">
				<i ng-click="clouse()" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form>

	  
					<p>¿Está seguro que desea eliminar esta pieza?</p>

					<div class="row">
						<div class="col-xs-6">
							<a ng-click="conformDeletePiezas(1);" md-raised-button class="btn btn-subir-form btn-success pull-right">Si</a>
						</div>
						<div class="col-xs-6">
							<a ng-click="conformDeletePiezas(0);" md-raised-button class="btn btn-subir-form btn-danger pull-right">No</a>
						</div>
					</div>

				</form>
			</div><br>

			<div class="alert alert-success" id="deletePiezas">
		        <p>Se ha eliminado correctamente</p>
		    </div>

		    <div class="alert alert-warning" id="deleteWaringPagos">
		        <p>Ya ha sido aliminado anteriormente</p>
		    </div>
		    <div class="alert alert-inverse" id="deleteWaringPiezas">
		        <img src="./img/load.gif" alt="cargando">
		    </div> 

	</div><!-- ELIMINAR PAGOS -->
