
	<div id="vNuevoVehiculo" class="ventana">
			<div class="title-ventana green">
				Nuevo vehiculo
			</div> 
			<div class="body-ventana">
				<i ng-click="clouse();" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form role="form" name="formNuevoVehiculo">

					<div class="row">
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Usuarios</label>
								<select ng-model="vehiculo.idUsuario" required required>
									<option ng-repeat="vehiculo in vehiculos" value="{{vehiculo.idUsuario}}">{{vehiculo.email}} </option>
								</select>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Marca</label>
								<input type="text" class="form-control" ng-model="vehiculo.marca" required>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Modelo</label>
								<input type="text" class="form-control" ng-model="vehiculo.modelo" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<div class="form-group label-floating">
								<label class="control-label">Matricula</label>
								<input type="text" class="form-control" ng-model="vehiculo.matricula" required  minlength="7">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group label-floating">
								<label class="control-label">Tipo</label>
								<input type="text" class="form-control" ng-model="vehiculo.tipo"  required>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Anio</label>
								<input type="text" class="form-control" ng-model="vehiculo.anio" required>
							</div>
						</div>
					</div>


					<button ng-disabled="formNuevoVehiculo.$invalid" ng-click="nuevoVehiculo();" class="btn btn-subir-form btn-primary pull-right">Guardar</button>

					<div class="alert alert-success" id="exitoRegistrarVehiculos">
		                <p>Se ha registrado correctamente el vehiculo</p>
		            </div> 
		            <div class="alert alert-warning" id="waringAgregarVehiculos">
		                <p>Este vehiculo ya esta registrado</p>
		            </div>
		           
		            <div class="alert alert-inverse" id="loadRVehiculos">
		                <img src="./img/load.gif" alt="cargando">
		            </div> 


				</form>
			</div>
	</div><!-- NUEVO CLIENTE -->


	<div id="vEditVehiculo" class="ventana">
			<div class="title-ventana blue">
				Editar Vehiculo
			</div>
			<div class="body-ventana">
				<i ng-click="clouse();" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form role="form" name="formEditarVehiculo">
	  
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Usuarios</label>
								<select id="ursidUser" required>
									<option ng-repeat="vehiculo in vehiculos" value="{{vehiculo.idUsuario}}">{{vehiculo.email}} </option>
								</select>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Marca</label>
								<input type="text" class="form-control" id="ursmarca" required>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Modelo</label>
								<input type="text" class="form-control" id="ursmodelo" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<div class="form-group label-floating">
								<label class="control-label">Matricula</label>
								<input type="text" class="form-control" required  minlength="4" id="ursmatricula">
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group label-floating">
								<label class="control-label">Tipo</label>
								<input type="text" class="form-control" minlength="2" id="urstipo">
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group label-floating">
								<label class="control-label">Anio</label>
								<input type="text" class="form-control" required id="ursanio">
							</div>
						</div>
					</div>
					

					<button ng-disabled="formEditarCliente.$invalid" ng-click="editarVehiculo();" class="btn btn-subir-form btn-primary pull-right">Guardar</button>

					<div class="alert alert-success" id="exitoActualizarVehiculo">
		                <p>Se han guardado los cambios con éxito.</p>
		            </div> 
		            <div class="alert alert-warning" id="waringActualizarVehiculo">
		                <p>Este vehiculo ya esta registrado</p>
		            </div>
		           
		            <div class="alert alert-inverse" id="loadAVehiculo">
		                <img src="./img/load.gif" alt="cargando">
		            </div> 

				</form>
			</div>
	</div><!-- EDITAR CLIENTE -->


	<div id="vDeleteVehivulos" class="ventana mini">
			<div class="title-ventana red">
				Eliminar vehiculos
			</div>
			<div class="body-ventana">
				<i ng-click="clouse();" class="cerrar fa fa-times" aria-hidden="true"></i>
				<form>

	  
					<p>¿Está seguro que desea eliminar esta mensualidad?</p>

					<div class="row">
						<div class="col-xs-6">
							<a ng-click="conformDeleteVehiculos(1);" md-raised-button class="btn btn-subir-form btn-success pull-right">Si</a>
						</div>
						<div class="col-xs-6">
							<a ng-click="conformDeleteVehiculos(0);" md-raised-button class="btn btn-subir-form btn-danger pull-right">No</a>
						</div>
					</div>

				</form>
			</div>
			<br>

			<div class="alert alert-success" id="exitoDeleteVehiculos">
		        <p>Se ha eliminado correctamente</p>
		    </div>

		    <div class="alert alert-warning" id="deleteWaringDeleteVehiculos">
		        <p>Ya ha sido aliminado anteriormente</p>
		    </div>
		    <div class="alert alert-inverse" id="loadDeleteVehiculos">
		        <img src="./img/load.gif" alt="cargando">
		    </div> 

	</div><!-- ELIMINAR CLIENTE -->
