<div class="wrapper">
  
      <div class="sidebar" data-color="purple" data-image="img/sidebar-1.jpg" >
    
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
      -->
      <div class="logo">
        <div class="logo-img">
          <img src="img/logo.png" alt="">
        </div>
      </div>

      <div class="sidebar-wrapper">
                
        <ul class="nav">  
            <li>
                <a href="#/clientes">
                    <i class="material-icons">dashboard</i>
                    <p>Clientes</p>
                </a>
            </li>
            <li>
                <a href="#/depositos">
                    <i class="material-icons">monetization_on</i>
                    <p>Depositos depósitos</p> <!-- //falta -->
                </a>
            </li>
            <li>
                <a href="#/empleados">
                  <i class="material-icons">person</i>
                    <p>Empleados</p>
                </a>
            </li>
            <li>
                <a href="#/pagos">
                    <i class="material-icons">content_paste</i>
                    <p>Pagos</p>  <!-- //falta -->
                </a>
            </li>
            <li>
                <a href="#/terrenos">
                    <i class="material-icons">location_on</i>
                    <p>Terrenos</p>
                </a>
            </li> 
            <li>
                <a href="#/mapa">
                    <i class="material-icons">map</i>
                    <p>Mapa</p>
                </a>
            </li> 
            <li>
                <a href="#/videos">
                    <i class="material-icons">perm_media</i>
                    <p>Recursos</p>
                </a>
            </li>
        </ul>

      </div>

    </div><!-- MENU -->

    
    <div class="main-panel">
          <div class="main-menu" ng-controller="FormsCtrl">
          
                <a ng-click="btnMenu(abir);" class="btnmenu">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <div class="dropdown">
                    <button class="btnPerfil" data-toggle="dropdown">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" ng-controller="LoginCtrl">
                        <li ng-if="Perfil"><a href="#/perfil">Perfil</a></li>
                        <li><a href="#/perfil/editar">Editar perfil</a></li>
                        <li><a ng-click="salir();">Salir del sistema</a></li>
                    </ul>
                </div>
            
          </div>

            <div class="content">








          	<!-- AQUI EDITAR -->

				<div class="container-fluid">
					           
					<div class="row">
					         
					    <div class="col-md-12">
					    	        
					        <img src="img/404_mdb.jpg" class="error404 scrollflow -slide-left -opacity" alt="">

					    </div><!-- COL 12 -->
					                    
					</div><!-- ROW -->

				</div><!-- CONTAINER -->
			
			<!-- AQUI EDITAR -->






</div><!-- content -->

        <div ng-include="pie"></div>

