<div class="contenedor logn errorserver">
        
        <div class="login transparent">
            <form role="form" name="formLogin">
                
                <div class="social">
                    <a href="https://www.facebook.com/Desarrollo-campestre-La-Cruz-1904822866435052/" target="_blanck" class="fa fa-facebook-official"></a>
                    <a href="https://twitter.com/CampestreLaCruz" target="_blanck" class="fa fa-twitter-square"></a>
                </div>
                <br><br>
                <div class="alert alert-danger" id="errorServidor" style="display: block;">
                    <p>Se ha producido un error en el servidor</p>
                </div>

                
                <a href="#/login" class="btn pull-right"> Iniciar sesion </a>

                <div class="alert alert-login alert-inverse" id="loadLogin">
                    <img src="./img/load.gif" alt="cargando">
                </div> 

            </form>
        </div>

</div><!-- CONTENEDOR -->